@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
    letter-spacing: -0.02em;
    list-style: none;
    color: #333;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    /*영역들이 부드럽게 이동됨.*/
}

header {
    width: 100%;
    height: 200px;
    background-color: #fcfcfc;
    border: 5px solid #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
}

header>h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

header>h3 {
    position: absolute;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

nav>ul {
    display: flex;
}

nav>ul>li {
    width: 100px;
    height: 40px;
    background-color: #333;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>ul>li:hover {
    background-color: #fcfcfc;
    border: 5px solid #333;
}

nav>ul>li>a {
    color: #fcfcfc;
}

nav>ul>li:hover>a {
    color: #333;
}

#about {
    position: relative;
    height: 432px;
    width: 100%;
    border-bottom: 5px solid #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#about>h2 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.groomi_img {
    position: absolute;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
    height: 210px;
    width: 160px;
    border-radius: 25px;
    overflow: hidden;
    border: 5px solid #333;
    box-shadow: 0 5px 16px #333;
}

.groomi_img>img {
    height: 200px;
}

.about_pp {
    width: 100%;
    position: absolute;
    top: 282px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.basic_information {
    width: 100%;
    height: 205px;
    position: relative;
    border-bottom: 5px solid #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.h3h3 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.basic_information>ul {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

#skill {
    width: 100%;
    height: 545px;
    position: relative;
    border-bottom: 5px solid #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.skill_pp {
    position: absolute;
    top: 39px;
    left: 50%;
    transform: translateX(-50%);
}

.skill_table {
    width: 600px;
    border-collapse: collapse;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}

.skill_table th,
.skill_table td,
.skill_table caption {
    border: 5px solid #333;
    height: 40px;
    text-align: center;
    line-height: 30px;
}

.skill_table caption {
    border-bottom: none;
}

#project {
    position: absolute;
    top: 285px;
    left: 50%;
    transform: translateX(-50%);
}

.project_article {
    width: 100%;
    height: 42px;
    position: absolute;
    text-align: center;
}

.article11 {
    top: 329px;
}

.article22 {
    top: 391px;
}

.article33 {
    top: 453px;
}

#contact {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.contact_h2_part {
    width: 100%;
    height: 49px;
    position: relative;
}

.contact_h2_part>h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_pp_part {
    width: 100%;
    height: 29px;
    position: relative;
}

.contact_pp_part>p {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.contact_h3_part {
    width: 100%;
    height: 49px;
    position: relative;
}

.contact_h3_part>h3 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

#contact>form {
    width: 100%;
}

.contact_input_text {
    width: 270px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.contact_input_text>input {
    height: 20px;
    border: 2.5px solid #333;
}

.contact_input_textarea {
    width: 100%;
    /* position: relative; 제거 */
    display: flex;
    flex-direction: column;
    /* 세로로 정렬 */
    align-items: center;
    /* 가로 기준 가운데 정렬 */
    gap: 10px;
    /* 라벨과 textarea 사이의 간격 */
    margin-top: 20px;
    /* 위쪽 요소와의 간격 */
    margin-bottom: 20px;
    /* 아래쪽 버튼과의 간격 */
}

.contact_input_textarea>label {
    /* position, top, left, transform 모두 제거 */
    font-weight: bold;
}

.contact_input_textarea>textarea {
    /* position, top, left, transform 모두 제거 */
    border: 2.5px solid #333;
    border-radius: 5px;
    max-width: 90%;
    /* 화면 밖으로 삐져나가지 않도록 방지 */
    /* resize: vertical; */
    /* 사용자가 위아래(높이)로만 조절할 수 있도록 제한 (권장) */
}

.contact_submit_buttons {
    width: 350px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contact_submit_buttons>button,
.contact_submit_buttons>input {
    width: 150px;
    height: 50px;
    border: 5px solid #333;
    background-color: #fcfcfc;
    border-radius: 12px;
    font-weight: 700;
}

.contact_submit_buttons>button:hover,
.contact_submit_buttons>input:hover {
    color: #fcfcfc;
    background-color: #333;
}

footer {
    width: 100%;
    height: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 5px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>section>a {
    display: block;
    margin: 0 auto;
}




/*#####*/
/*width: min(1000px, calc(100% - 50px)) -> 더 적은거를 선택해 주세요*/
